/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 0;
    margin: 0;
}

.maquina-card {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.maquina-card:hover {
    transform: translateY(-5px);
}

.maquina-card h2 {
    margin-top: 0;
    color: #004080;
}

.maquina-card .card-body {
    padding: 1.5rem;
}

.dados p {
    margin: 0.5rem 0;
}

/* Estilos de Status (cores dinâmicas) */
.status-idle {
    border-top: 5px solid #ffc107; /* Amarelo para IDLE */
}

.status-running {
    border-top: 5px solid #28a745; /* Verde para RUNNING */
}

.status-alarm {
    border-top: 5px solid #dc3545; /* Vermelho para ALARM */
}

.status-waiting_for_repair {
    border-top: 5px solid #6c757d; /* Cinza para WAITING_FOR_REPAIR */
}

.status-text {
    font-weight: bold;
}